{#
/**
 * @file
 * Default order total summary template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - totals: An array of order totals values with the following keys:
 *   - subtotal: The order subtotal price.
 *   - adjustments: An array of adjustment totals:
 *     - type: The adjustment type.
 *     - label: The adjustment label.
 *     - total: The adjustment total price.
 *     - percentage: The decimal adjustment percentage, when available. For example, "0.2" for a 20% adjustment.
 *     - weight: The adjustment weight, taken from the adjustment type.
 *   - total: The order total price.
 *
 * @ingroup themeable
 */
#}
{{ attach_library('commerce_order/total_summary') }}
<div class="row cart-summary">
    <div class="col-md-5 col-md-offset-7 col-sm-12 col-xs-12">
        <div class="cart-total">
            <h2>{{ 'Cart totals'|t }}</h2>
            <ul>
                <li>
                    {{ 'Subtotal'|t }}
                    <span>
                        {{ totals.subtotal|commerce_price_format }}
                    </span>
                </li>

                {% for adjustment in totals.adjustments %}
                    <li>
                        {{ adjustment.label }}
                        <span>
                            {{ adjustment.amount|commerce_price_format }}
                        </span>
                    </li>
                {% endfor %}
                <li>
                    {{ 'Total'|t }}
                    <span>{{ totals.total|commerce_price_format }}</span>
                </li>
            </ul>
            <a href="#" class="checkout">{{ 'Proceed to checkout'|t }}</a>
        </div>
    </div>
</div>
