{#
/**
 * @file
 * Water-Link theme implementation to display a two-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{%
set classes = [
'wl--layout--onecol',
]
%}
{% if content %}
    <div{{ attributes.addClass(classes) }}>
        <div class="layout-region layout-region--fullwidth">
            {{ content.top }}
        </div>

        <div class="layout-container">
            <div class="layout-region layout-region--main">
                {{ content.main }}
            </div>
        </div>
        {% if content.fullwidth %}
            <div class="layout-region layout-region--fullwidth">
                {{ content.fullwidth }}
            </div>
        {% endif %}

        <div class="layout-region layout-region-bottom layout-region--fullwidth">
            <div class="layout-wrapper">
                {{ content.bottom }}
            </div>
        </div>
    </div>
{% endif %}
